/* src/components/LandingPage.css */
.slideshow {
  max-width: 800px;
  margin: 0 auto;
  }
  .react-responsive-carousel .carousel .slider-wrapper {
    height: 100px; /* Adjust the desired height */
  }
  
  .react-responsive-carousel .carousel .slider-wrapper img {
    height: 100%;
    object-fit: cover;
  }