.start-container{
    margin: 20px;
    position: relative;
    text-align: center;   
    justify-content: center;
}
.mid-item{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 45%;
}
.img-fluid{
    border-radius: 20px;
    /* margin-right: -15%; */
}
.card-css{
    padding: 20px;
}
.row{
    margin-top: 20px;
}