 @import '~bootstrap/dist/css/bootstrap.min.css'; 
 .dark {
    background-color: #333;
    color: #fff;
  }
  .light {
    background-color: #fff;
    color: #333;
  }
  h1{
    color: #3498db;  
  }
  footer{
     color: #000; 
  }